body {
    margin: 0px;
    padding: 0px;
}

main{
    margin: 20px;
    background-color: rgb(126, 196, 126);
}

h1 {
    text-align: center;
}

.homepage h1 a{
    text-decoration: none;
    color: rgb(12, 83, 36);
}

.homepage h1 a:hover{
    color: rgb(6, 49, 20);
    font-size: larger;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navbar li{
    float: right;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    row-gap: 10px;
    column-gap: 10px;
    height: calc(100vh - 200px);
}

.container a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.container a:hover{
    color: greenyellow;
}

.container div {
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: rgb(25, 137, 189);
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
}