body {
    margin: 0px;
    padding: 0px;
}

main{
    margin: 20px;
    background-color: rgb(126, 196, 126);
}

h1 {
    text-align: center;
}

.homepage h1 a{
    text-decoration: none;
    color: rgb(12, 83, 36);
}

.homepage h1 a:hover{
    color: rgb(6, 49, 20);
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navbar li{
    float: right;
}

#map {
    height: 500px;
    width: 100%;
    border: 2px solid #333;
}

.search-container input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 10px;
    border: none;
    border: 2px solid black;
    background-color: rgb(230, 218, 218);
    transition: 150ms ease;
    margin: 10px;
}