body {
    margin: 0px;
    padding: 0px;
}

main{
    margin: 20px;
    /* background-color: rgb(126, 196, 126); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.homepage h1 a{
    text-decoration: none;
    color: rgb(12, 83, 36);
}

.homepage h1 a:hover{
    color: rgb(6, 49, 20);
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navbar li{
    float: right;
}

.tennisball-container {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(0%, -50%);
}

.tennisball {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #c9f364;
    border-radius: 50%;
    transform: translate(0%, -50%);
    overflow: hidden;
    animation: ball-bounce 2.5s infinite;
}

.tennisball::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    /* background: transparent; */
    border: 2px solid black;
    left: -65%;
    filter: blur(1px);
}

.tennisball::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    /* background: transparent; */
    border: 2px solid black;
    left: 65%;
    filter: blur(1px);
}

@keyframes ball-bounce {
    0% {
        transform: translate(-30%, -30%) translateY(-30px) rotate(0deg);
    }   
    50% {
        transform: translate(-30%, -30%) translateY(-5px) rotate(180deg);
    }
    100% {
        transform: translate(-30%, -30%) translateY(-30px) rotate(360deg);
    }
}

main button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: rgb(126, 196, 126);
    color: black;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}
main button:hover{
    background-color: rgb(19, 116, 19);
}
main button:focus{
    outline: none;
    background-color: rgb(19, 116, 19);
}

#match-history {
    width: 90vw;
    height: 90vh;
    margin-top: 10px;
    background-color: rgb(126, 196, 126);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#match-history div .match {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid blue; 
    background-color: rgb(153, 106, 49);
    
}

.match {
    margin: 10px;
}

.match input {
    background-color: white;
    width: 200px;
    height: 20px;
}

#notes {
    height: 100px;
}